<a href="https://colab.research.google.com/github/widowon/2021_SummerStudy_Python-DeepLearning/blob/main/09_Python_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#함수

- 자주 사용되는 코드 및 반복되는 코드를 모아 하나의 가능으로 만들고 이름을 붙인 것입니다
- 즉 함수의 주요기능은 코드의 **재사용성**입니다.

##함수의 기본 구조

- def 키워드로 시작함
- 함수명 기입
- () 안에 매개 변수 저장 및 생략도 가능
- 끝에는 :로 끝납니다
- 들여쓰기를 사용한다

예시

In [1]:
def add_function(a,b):
  result = a+b
  return result

##함수의 다양한 형태

###일반 형태

- 입력 매개변수 : 0
- return: 0

In [2]:
def sample_function(a,b):
  result = a+b
  return result

###입력 매개변수가 없는 형태

In [3]:
def sample_function(a,b):
  a=1
  b=2
  result = a+b
  return result

###return 이 없는 형태

In [4]:
def sample_function(a,b):
  result = a+b
  print(f'result: {result}')

###입력 매개변수, return 모두 없는 형태

In [5]:
def sample_function():
  print('Hello, World!')

##함수의 이름 및 호출

- 함수의 이름은 알파벳이나 _로 시작합니다
- 함수의 지정된 이름과 ()로 호출 한다

In [8]:
def sample_function():
  print('함수가 호출 되었습니다')

함수만 호출 시

In [9]:
sample_function

###호출

In [10]:
sample_function()

함수가 호출 되었습니다

In [11]:
a = sample_function
a()

함수가 호출 되었습니다

In [13]:
def sample_function():
  print('호출 함')
  return 123

In [14]:
result = sample_function()

호출 함

In [22]:
result

아무런 결과 값을 반환하지 않으면 None을 반환한다.

In [17]:
def sample_function():
  print('호출 함')

In [18]:
result = sample_function()

호출 함

In [23]:
print(result)

None

##docstring

- 함수의 대한 설명 기록

In [32]:
print('hi')
"""
print안에 있는 hi를 출력합니다
"""

hi

'\nprint안에 있는 hi를 출력합니다\n'

함수명 .`__`doc`__`로  docstring을 출력할 수 있다

##함수의 인수

- 인수 : 값, 변수. 참조 등 전달되는 값
- 매개변수: 전달된 값을 받는 변수

- 10, 20은 인수(argument) 
- a, b 는 매개변수(parametar)

In [36]:
def some_function(a,b):
  result = a+b
  return result

some_function(10,20)

30

##위치인수

- 가장 보편적인 변수

In [37]:
def add_function(a,b,c):
  result = a+ b + c
  print(f'a: {a}, b: {b}, c : {c}')
  print(f'sum: {result}')
  return result

In [39]:
add_function(1,3,5)

a: 1, b: 3, c : 5
sum: 9

9

##키워드 인수

-위치 인수의 위치를 기억하지 못하고 혼란을 야기 할 수 있기에 인수명에 값을 지정한다

In [40]:
add_function(b=3, c=1 , a=5)

a: 5, b: 3, c : 1
sum: 9

9

##기본 매개변수

- 미리 값지정 가능

In [41]:
def add_function(a,b=0,c=0):
  result = a+ b + c
  print(f'a: {a}, b: {b}, c : {c}')
  print(f'sum: {result}')
  return result

In [42]:
add_function(0)

a: 0, b: 0, c : 0
sum: 0

0

In [43]:
add_function(1,3)

a: 1, b: 3, c : 0
sum: 4

4

In [45]:
add_function(1,3,5)

a: 1, b: 3, c : 5
sum: 9

9

## *tuple

- 여러개의 인수를 전달 받을 수 있음
- 여러개ㅡ이 인수를 전달 받은 *args가 tuple 형태로 저장함

In [47]:
def add_function(*args):
  result = 0
  print(f'args의 타입 : {type(args)}')
  for arg in args:
    print(arg)
    result += arg
  print('==='* 5)
  print(f'sum: {result}')

In [49]:
add_function()

args의 타입 : <class 'tuple'>
===============
sum: 0

In [50]:
add_function(1)

args의 타입 : <class 'tuple'>
1
===============
sum: 1

In [51]:
add_function(1,2,3)

args의 타입 : <class 'tuple'>
1
2
3
===============
sum: 6

## 위치 매개 변수와 *tuple 의 위치관계

In [53]:
def add_function(a, *args):
  print(f'a:{a}')
  print('===' *5)
  result = 0
  for arg in args:
    print(arg)
    result += arg
  print('==='* 5)
  print(f'sum: {result}')

In [55]:
add_function(1)

a:1
===============
===============
sum: 0

In [56]:
add_function(1,2,3,4,5)

a:1
===============
2
3
4
5
===============
sum: 14

##**dict

- **kwargs로 표현

In [66]:
def add_function(**kwargs):
  total_age = 0 
  for name, age in kwargs.items():
    print(f'이름:{name}, 나이: {age}')
    total_age += age
  print('==='* 5)
  print(f'전체 나이의 합계: {total_age}')

In [67]:
add_function()

===============
전체 나이의 합계: 0

In [68]:
add_function(lee=5)

이름:lee, 나이: 5
===============
전체 나이의 합계: 5

###딕셔너리를 인수로 지정

In [69]:
person = {'john': 10, 'peter': 12, 'lee': 5}
person

{'john': 10, 'lee': 5, 'peter': 12}

In [70]:
add_function(**person)

이름:john, 나이: 10
이름:peter, 나이: 12
이름:lee, 나이: 5
===============
전체 나이의 합계: 27

##lambda 익명함수

In [71]:
a = lambda x: x*2

In [72]:
a(4)

8

In [74]:
a= lambda x,y=10:x*y

In [76]:
a(3)

30

In [78]:
a(x=3, y=5)

15

lambda함수 안에서 조건문 사용

In [79]:
a = lambda x,y:x*y if x>0 else y

In [80]:
a(4,8)

32