<a href="https://colab.research.google.com/github/widowon/2021_SummerStudy_Python-DeepLearning/blob/main/07_Python_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#반복문

- 1회 이상 반복하여 수행
- 문자열까지 모두 순회 가능한 객체는 반복 할 수 있다

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

반복문이 없다면

힘듬

##for 와 in 구문 (반복문)

###[기본문법]

for 하나씩 꺼내올때 변수 in[꺼내올 집합]:

##리스트(list)

In [ ]:
mylist = [1,2,3,4,5]

In [ ]:
for i in mylist:
  print(i)

1
2
3
4
5

##튜플(tuple)

In [ ]:
for i in (1,2,3,4,5):
  print(i)

1
2
3
4
5

##tuple + list

tuple을 전체로 받아주는 경우

In [ ]:
person = ('제이콥스', 10)
print(person)
print(person[0])
print(person[1])

('제이콥스', 10)
제이콥스
10

tuple의 요소를 개별로 받아주는 경우

In [ ]:
name, age = ('제이콥스', 10)
print(name)
print(age)

제이콥스
10

반복문에서의 응용

In [ ]:
mytuplelist = [('제이콥스', 10), ('피터', 20), ('타이거', 30)]

for mytuple in mytuplelist:
  print(mytuple[0], mytuple[1])

제이콥스 10
피터 20
타이거 30

In [ ]:
mytuplelist = [('제이콥스', 10), ('피터', 20), ('타이거', 30)]

for name, age in mytuplelist:
  print(name, age)

제이콥스 10
피터 20
타이거 30

##딕셔너리

In [ ]:
mydict = {'헐크': 50, '아이언맨': 60, '펭수': 70}

In [ ]:
for key in mydict.keys():
  print(key)

헐크
아이언맨
펭수

In [ ]:
for value in mydict.values():
  print(value)

50
60
70

In [ ]:
for name , age in mydict.items():
  print(name, age)

헐크 50
아이언맨 60
펭수 70

##문자열(str)

In [ ]:
for c in "Hello":
  print(c)

H
e
l
l
o

##range()

- range() 함수는 별도의 list,tuple 생성 없이 range()에서 의한 범위를 반복하는데 활용 할 수 있습니다.
- range(start, stop, step)형식으로 사용

stop 단일 값을 지정하는 경우

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

start, stop 두개의 값을 지정한 경우

In [ ]:
for i in range(2,9):
  print(i)

2
3
4
5
6
7
8

start, stop, step : 세 개의 값을 지정하는 경우

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

##반복문의 중첩

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    print(f'(i={i})+ (j={j}) = {i*j}')
  print('===')

(i=1)+ (j=1) = 1
(i=1)+ (j=2) = 2
(i=1)+ (j=3) = 3
===
(i=2)+ (j=1) = 2
(i=2)+ (j=2) = 4
(i=2)+ (j=3) = 6
===
(i=3)+ (j=1) = 3
(i=3)+ (j=2) = 6
(i=3)+ (j=3) = 9
===

##제어문

##continue

- 건너뛰게 한다
- continue 아래에 작성된 코드는 실행 되지 않는다

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for i in mylist:
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10

##break

- break 구문을 만나면 반복루프는 즉시 종료됩니다.

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for i in mylist:
  if i >=6:
    break
  print(i)

1
2
3
4
5

##break 와 continue의 차이

In [ ]:
for i in range(10):
  if i ==5:
    break
  print(i)

0
1
2
3
4

In [ ]:
for  i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

##While

- Whlie 문은 조건이 참인 동안 반복 루프를 수행한다

In [ ]:
count = 5
while count >0:
  print(count)
  count-=1

5
4
3
2
1

무한루프 생성

In [ ]:
count =1

while True:
  print(count)
  count += 1
  if count >5:
    break

1
2
3
4
5